html {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	color: #333;
	background-image: url("bg1.png");
	background-repeat: repeat-y;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;

}
.header {

	padding: 0.7ex 0.7ex 0.7ex 2em;
	text-align:  left;
	border: dashed 2px;
	border-color: darkgoldenrod;
	border-radius: 30px 30px 0px 0px;
	border-bottom-style: none;
	background: rgba(50,50,50,0.9);
}


body {
	font-family: sans-serif;
	/* background: linear-gradient(indigo, darkslategray) fixed ; */
	/* background: powderblue ; */

}

main {
	padding: 0px 10px 10px 10px;
	background: rgba(50,50,50,0.9);
	border: dashed 2px ;
	border-color: darkgoldenrod;
	border-top-style: none;
	border-bottom-style: none;

}



h1, h2, h3 {color:lightgrey; }
h2 { margin: 0px; padding: 0px;}
strong, sup {color: lightgrey;}
p, ul {color: lightgrey; }
li, ul {color: lightgrey; }
z {color: khaki;}
a {color: darkkhaki; }
a:hover {color: khaki; }

/* #bloog h1, h2, h3, strong, sup{color: #333;}



/* The sidebar menu */
/* When you mouse over the navigation links, change their color */
#nav a:hover {
  color: khaki;
}

#nav {

	float: left;
	margin: 20px 10px 10px 0px;
	padding: 1em;
	width: 125px;
	height: 100%
	overflow: auto;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}
/* Style page content */
.main {
	padding: 10px 10px;
	margin: 10px 10px 10px 10px;
}


#new {
	float:left;
	width:500px;
	height:150px;
	margin: 20px 10px 10px 10px;
	border: dashed 2px;
	border-color: lightskyblue;
	padding: 1em;
	overflow:auto;
}

#mu {
	float: left;
	width:500px;
	height:150px;
	margin: 20px 10px 10px 10px;
	border: dashed 2px;
	border-color: lightskyblue;
	padding: 1em;
	overflow:auto;
}

#mu h2{ margin: 5px; }
#new h2{ margin: 5px; }

#spacer {
	height: 20px;
}

#vspacer {
	height: 220px;
	width: 40px;
}

/* ENTRY CSS */
.entry {
	
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	background-color: lightblue;
	}

.entry h2 { margin: 5px auto 2px auto; color: 222222; }
.entry a {color: midnightblue;}
.entry a:hover {color: turquoise;}
.entry strong {color:black;}

.bindex {
}

#footer{
	margin-top: 10px;
	text-align: center;
	border: dashed 2px;
	border-color: darkgoldenrod;
	border-top-style: none;
	border-radius: 0px 0px 30px 30px;
	background: rgba(50,50,50,0.9);

}
